@import "~tailwindcss/base";

@import "~tailwindcss/components";

@import "~tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

@import "iticons";

html, body {
  font-size: 16px;
  height: 100%;
  width: 100%;
}
