<template>
  <div class="h-full w-full flex flex-col items-center justify-center ">
    <h1 class="text-10xl text-warning leading-tight">404</h1>
    <p class="mb-4">{{ $t("PAGE_NOT_FOUND") }}</p>
    <router-link
      to="/completed"
      class="uppercase hover:underline text-blue-light "
      >{{ $t("RETURN_BACK") }}</router-link
    >
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class ErrorView extends Vue {}
</script>

<style rel="stylesheet/scss" lang="scss" scoped></style>
