<template>
  <div class="home-view h-full">
    <div
      class="home-view__content bg-white h-full max-w-4xl mx-auto shadow-ambient"
    >
      <div class="px-7 py-6">
        <h1 class="text-4xl font-medium mb-4">
          {{ $t("OPERATIONS_HEADER") }} 112
        </h1>
        <nav class="home-view__nav flex mb-2 uppercase text-xs">
          <router-link
            class="home-view__link hover:text-blue-light py-4 pr-2"
            to="/scheduled"
          >
            {{ $t("SCHEDULED") }} {{ $tc("OPERATION", 2) }}
          </router-link>
          <router-link
            class="home-view__link  hover:text-blue-light py-4 px-2"
            to="/completed"
          >
            {{ $t("COMPLETED") }} {{ $tc("OPERATION", 2) }}
          </router-link>
        </nav>
        <ui-data-table :columns="columnsAttrs" :data="operations">
          <template #date="{ dataItem }">
            <span class="uppercase text-xs">{{
              dataItem.date | formatDate
            }}</span>
          </template>
          <template #type="{ dataItem }">
            <span class="text-sm font-medium">{{
              $t(operationType[dataItem.type])
            }}</span>
          </template>
          <template #culture="{ dataItem }">
            <i
              :class="getCultureIconClass(dataItem.culture)"
              class="text-2xl leading-none mr-2"
            />
            {{ isNil(dataItem.culture) ? "-" : $t(culture[dataItem.culture]) }}
          </template>
          <template #assessment="{ dataItem }">
            <div
              :class="{ 'opacity-30': isNil(dataItem.assessment) }"
              class="text-xs leading-5"
            >
              <i
                :class="getAssesmentSwatchClass(dataItem.assessment)"
                class="iticon-color-swatch text-xl mr-2"
              />
              {{
                isNil(dataItem.assessment)
                  ? $t("NO_ASSESSMENT")
                  : $t(assessment[dataItem.assessment])
              }}
            </div>
          </template>
        </ui-data-table>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import UiDataTable, {
  UiDataTableColumnProp
} from "@/components/UiDataTable.vue";
import Operation, {
  Assessment,
  Culture,
  OperationType
} from "@/models/Operation";
import TDate from "@/models/TDate";
import dayjs from "dayjs";
import { isNil, isNull } from "lodash";
import Utils from "@/utils/Utils";

enum OperationStatus {
  SCHEDULED = 0,
  COMPLETED = 1
}

@Component({
  components: { UiDataTable },
  filters: {
    formatDate(val: TDate): string {
      return dayjs(new Date(val.year, val.month, val.day))
        .format("DD MMM YYYY")
        .replace(".", "");
    }
  }
})
export default class HomeView extends Vue {
  private columnsAttrs: UiDataTableColumnProp<Operation>[] = [
    {
      key: "date",
      label: this.$t("DATE")
    },
    { key: "type", label: this.$tc("OPERATION", 1) },
    { key: "culture", label: this.$t("CULTURE") },
    { key: "assessment", label: this.$t("ASSESSMENT") }
  ];
  private operationStatusValue: OperationStatus | null = null;
  private operationType = OperationType;
  private assessment = Assessment;
  private culture = Culture;

  private get operations(): Array<Operation> {
    if (isNull(this.operationStatusValue)) return [];
    return (
      this.$tstore.operations.operationsMapByStatus.get(
        this.operationStatusValue
      ) || []
    );
  }

  async created() {
    await this.$services.operations.prepareOperations();
    this.updateOperationStatus();
  }

  @Watch("$route.params")
  handleRouteParamsChange() {
    this.updateOperationStatus();
  }

  private isNil(value: any): boolean {
    return isNil(value);
  }

  private getAssesmentSwatchClass(assessment: Assessment | null) {
    switch (assessment) {
      case Assessment.BADLY:
        return "text-danger";
      case Assessment.SATISFACTORILY:
        return "text-warning";
      case Assessment.EXCELLENT:
        return "text-success";
      default:
        return "text-gray-medium";
    }
  }

  private getCultureIconClass(culture: Culture): string | null {
    switch (culture) {
      case Culture.WHEAT:
        return "iticon-wheat";
      case Culture.WINTER_WHEAT:
        return "iticon-winter-wheat";
      default:
        return null;
    }
  }

  async updateOperationStatus() {
    const statusFromRoute:
      | string
      | undefined = this.$route.params.operationStatus?.toUpperCase();
    const status: OperationStatus | null = Utils.tryCastStringToEnum(
      OperationStatus,
      statusFromRoute
    );
    if (isNil(status)) {
      await this.$router.push({ name: "404" });
    } else {
      // @ts-ignore
      this.operationStatusValue = OperationStatus[status];
    }
  }
}
</script>

<style scoped>
.home-view__link.router-link-active {
  @apply text-blue-light;
}
</style>
