<template>
  <table class="ui-data-table w-full table-auto">
    <thead>
      <tr>
        <th
          :key="column.key"
          @click="updateSort(column.key)"
          class="text-xs text-left font-medium bg-gray-light px-2 py-3 hover:bg-gray-dark cursor-pointer transition-colors ease-in-out duration-100"
          v-for="column in columns"
        >
          <div class="flex">
            <span class="mr-1">{{ column.label }}</span>
            <i
              :class="{
                active:
                  dataIsSortedBy === column.key && sortOrder !== 'default',
                'rotate-180':
                  dataIsSortedBy === column.key && sortOrder === 'desc'
              }"
              class="iticon-caret text-2xs relative transform origin-center"
            ></i>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <template v-if="sortedData.length">
        <tr :key="dataItem.id" v-for="dataItem in sortedData">
          <td
            :key="`${dataItem.id}-${column.key}`"
            class="text-xs text-left font-400 bg-white px-2 py-3"
            v-for="column in columns"
          >
            <slot :data-item="dataItem" :name="column.key">
              {{ dataItem[column.key] }}
            </slot>
          </td>
        </tr>
      </template>
      <tr v-else>
        <td
          class="text-xs text-left font-400 bg-white px-2 py-3 text-center text-gray-medium text-sm font-medium"
          :colspan="columns.length"
        >
          {{ $t("NO_DATA") }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { TranslateResult } from "vue-i18n";
import sortBy from "lodash/sortBy";
import { NeverException } from "@/types/exceptions";

export enum SortOrder {
  ASC = "asc",
  DESC = "desc",
  DEFAULT = "default"
}

export interface UiDataTableColumnProp<T> {
  key: keyof T;
  label: TranslateResult;
  sort?: { asc: (a: any, b: any) => number; desc?: (a: any, b: any) => number };
}

type UiDataTableDataItem = { id: string | number; [key: string]: any };

@Component({})
export default class UiDataTable extends Vue {
  @Prop({ type: Array, default: () => [] })
  private readonly data!: Array<UiDataTableDataItem>;
  @Prop({ type: Array, default: () => [] })
  readonly columns!: Array<UiDataTableColumnProp<any>>;

  private sortOrder: SortOrder =
    (this.$route.query.order as SortOrder) || SortOrder.DEFAULT;

  private dataIsSortedBy: null | string =
    (this.$route.query.sortBy as string) || null;

  get sortedColumnProps(): UiDataTableColumnProp<any> | undefined {
    return this.columns.find(
      (column: UiDataTableColumnProp<any>) => column.key === this.dataIsSortedBy
    );
  }

  get sortedData() {
    switch (this.sortOrder) {
      case SortOrder.ASC:
        if (this.sortedColumnProps?.sort?.asc) {
          return [...this.data].sort(this.sortedColumnProps.sort.asc);
        }
        return sortBy(this.data, [this.dataIsSortedBy]);
      case SortOrder.DESC:
        if (this.sortedColumnProps?.sort?.desc) {
          return [...this.data].sort(this.sortedColumnProps.sort.desc);
        }
        if (this.sortedColumnProps?.sort?.asc) {
          return [...this.data].sort(this.sortedColumnProps.sort.asc).reverse();
        }
        return sortBy(this.data, [this.dataIsSortedBy]).reverse();
      case "default":
      default:
        return this.data;
    }
  }

  private updateSort(sortByKey: null | string): void {
    const previousSortByKey = this.dataIsSortedBy;
    this.dataIsSortedBy = sortByKey;
    if (previousSortByKey !== sortByKey) {
      this.sortOrder = SortOrder.ASC;
    } else {
      switch (this.sortOrder) {
        case SortOrder.ASC:
          this.sortOrder = SortOrder.DESC;
          break;
        case SortOrder.DESC:
          this.sortOrder = SortOrder.DEFAULT;
          break;
        case SortOrder.DEFAULT:
          this.sortOrder = SortOrder.ASC;
          break;
        default:
          throw new NeverException(this.sortOrder);
      }
    }
    const query = {
      ...this.$route.query,
      sortBy: this.dataIsSortedBy,
      order: this.sortOrder
    };
    if (this.sortOrder === SortOrder.DEFAULT) {
      delete query.sortBy;
      delete query.order;
    }
    this.$router.replace({
      path: this.$route.path,
      query
    });
  }
}
</script>

<style scoped>
.iticon-caret {
  @apply text-gray-medium;
}

.iticon-caret.active {
  @apply text-blue-light;
}

.ui-data-table {
  @apply text-xs;
}

.ui-data-table td {
  @apply border-b align-middle border-gray-light;
}
</style>
