<template>
  <header class="bg-blue-dark h-20 w-full">
    <div class="container">
      <slot></slot>
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class UiHeader extends Vue {
  // @Prop() private msg!: string;
  // @Watch('field name', options)
  // @Emit('event')
  //
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped></style>
