<template>
  <div id="app" class="bg-body h-full flex flex-col">
    <ui-header />
    <div class="flex-grow w-full">
      <router-view />
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import { Component } from "vue-property-decorator";
import UiHeader from "@/components/UiHeader";

@Component({
  components: { UiHeader }
})
export default class App extends Vue {}
</script>
